@charset "UTF-8";
/*
  Global CSS file
*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow:  0 0 0 1000px white inset !important;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow:  0 0 0 1000px white inset !important;
}
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow:  0 0 0 1000px white inset !important;
}

html {
	margin: 0;
	padding: 0;
}

 body {
  margin: 0;
	padding: 0;
  width: 100%;
	background: #FFF;
	font-family: 'AvenirNext', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}


